 body {
      margin: 0;
      padding: 0;
      background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
      url(assets/login-cadastro.jpg) center/cover no-repeat;
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .card {
      background: #fff;
      width: 100%;
      max-width: 420px;
      padding: 25px;
      border-radius: 18px;
      box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    }

    .profile-pic-container {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    .profile-pic {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0 3px 8px rgba(0,0,0,0.2);
      position: relative;
    }

    .camera-btn {
      position: absolute;
      bottom: 10px;
      right: 10px;
      background: #fff;
      padding: 8px;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }

    .input-group {
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
    }

    input[type="text"] {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 16px;
    }

    .btn {
      width: 100%;
      padding: 14px;
      border: none;
      border-radius: 10px;
      font-size: 17px;
      cursor: pointer;
      margin-top: 5px;
    }

    .btn-save {
      background: #0A6FB5;
      background: linear-gradient(90deg, rgba(10, 111, 181, 1) 0%, rgba(1, 46, 99, 1) 100%);
      color: #fff;
    }

    .btn-logout {
      background: #0A6FB5;
      background: linear-gradient(90deg, rgba(10, 111, 181, 1) 0%, rgba(1, 46, 99, 1) 100%);
      color: #fff;
    }
      @media (max-width: 480px) {
      .card {
        max-width: 90%;
        padding: 18px;
      }

      .profile-pic {
        width: 110px;
        height: 110px;
      }

      .btn {
        font-size: 15px;
        padding: 12px;
      }

      input[type="text"] {
        font-size: 14px;
        padding: 8px;
      }
    }